<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8" />
    <title>Taco Cloud</title>
</head>
<body>
<div>
    <h1>Design your taco!</h1>
    <img th:src="@{/images/pick.jpg}"/>

    <form method="POST" th:object="${design}">
        <div class="calendar-grid">
            <div class="chart-plot-background" id="wraps">
                <h3>Designate your Wrap:</h3>
                <div th:each="ingredient : ${wrap}">
                    <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>
            <div class="chart-plot-background" id="proteins">
                <h3>Pick your protein:</h3>
                <div th:each="ingredient : ${protein}">
                    <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>
            <div class="chart-plot-background" id="cheeses">
                <h3>Choose your cheeses:</h3>
                <div th:each="ingredient : ${cheese}">
                    <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>